# to install packages run pip install -r requirements.txt

ultralytics-yolov5  # to load, run yolov5 detectors
ray  # to run detections in separate processes
pygame  # to play sounds; may see message ApplePersistenceIgnoreState as result of package installation but should not be problem
